<div class="drawer mdl-layout__drawer mdl-color--blue-300 mdl-color-text--white">
  <header class="drawer-header">
    <img src="/img/myunimol.png" class="avatar">
    <div class="avatar-dropdown">
      <span>{{student.name}}<br />{{student.matr}}</span>
      <div class="mdl-layout-spacer"></div>
      <!-- <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
        <i class="material-icons" role="presentation">arrow_drop_down</i>
        <span class="visuallyhidden">Accounts</span>
      </button>
      <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
        <li class="mdl-menu__item">hello@example.com</li>
        <li class="mdl-menu__item">info@example.com</li>
        <li class="mdl-menu__item"><i class="material-icons">add</i>Add another account...</li>
      </ul> -->
    </div>
  </header>
  <nav class="navigation mdl-navigation mdl-color-text--gray-50">
    <a class="mdl-navigation__link active" href=""><i class="material-icons" role="presentation">home</i>Home</a>
    <a class="mdl-navigation__link mdl-color-text--white" href=""><i class="material-icons" role="presentation">book</i>Libretto</a>
    <a class="mdl-navigation__link" href=""><i class="material-icons" role="presentation">contacts</i>Rubrica</a>
    <a class="mdl-navigation__link" href=""><i class="material-icons" role="presentation">report</i>Appelli</a>
    <a class="mdl-navigation__link" href=""><i class="material-icons mdl-color-text--white" role="presentation">notifications</i>News</a>
    <a class="mdl-navigation__link" href=""><i class="material-icons" role="presentation">payment</i>Pagamenti</a>
    <a class="mdl-navigation__link" href=""><i class="material-icons" role="presentation">live_help</i>Suggerimenti</a>
    <a class="mdl-navigation__link" href="http://unimol.it" target="__NEW"><i class="material-icons" role="presentation">web</i>Il mio Portale</a>
    <a class="mdl-navigation__link" href=""><i class="material-icons" role="presentation">share</i>Condividi</a>
    <a class="mdl-navigation__link" href=""><i class="material-icons" role="presentation">exit_to_app</i>Logout</a>
    <div class="mdl-layout-spacer"></div>
    <div class="nav-footer">
      <p>MyUnimol <img src="/img/heart.png" height="18" /> Open Source</p>
    </div>
  </nav>
</div>
